<!doctype html>
<html lang="en">
<head th:fragment="common(links)">
    <link rel="stylesheet" th:href=@{/css/admin/admin-style.css}/>
</head>
<body>




<div th:fragment="common_js(links)">
    <script th:src=@{/js/admin/admin-script.js}></script>

    <!-- ====== ionicons ======= -->
    <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</div>
</body>
</html>
