<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
<div  th:fragment="main">
    <div class="container col-lg-4 offset-lg-4 mt-5">
        <div>
            <h5 class="card-header bg-success text-light text-center py-3 fs-3">
                Add Room
            </h5>
            <form class="card p-3" th:action="@{/admin/add-room}" method="post">
                <div class="mb-3">
                    <label  class="form-label">Room Number</label>
                    <input type="text" name="roomNumber" class="form-control" >
                </div>
                <div class="mb-3">
                    <select name="roomId"  class="form-select" aria-label="Default select example">
                        <option th:each="type : ${roomTypes}"
                                th:value="${type.roomTypeId}"
                                th:text="${type.type}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
