<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <div th:replace="~{common :: common(~{::link})}"></div>
</head>
<body>
<!--    Navbar section-->
<header th:replace="~{components/navbar :: navbar}"></header>

<!-- Contact Us Section -->
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{components/services :: services}"></div>

<!--    Footer Section -->
<section th:replace="~{components/footer :: footer}"></section>

<!--Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>

<!--Main Js-->
<script th:src=@{/main.js}></script>
</body>
</html>
