<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
<section id="about" class="about_wrapper" th:fragment="about">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse">
            <div class="col-lg-6 text-center text-lg-start">
                <h3>
                    Welcome to <span>Hotel <br />the heaven of your weekend</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Asperiores ea ipsum dolorem assumenda enim expedita sequi, et
                    magni perspiciatis illo esse quos itaque doloribus aliquid
                    praesentium cupiditate consequatur libero eum.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Molestias error tempore qui natus?
                </p>
                <a href="#" class="main-btn mt-4">Explore</a>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                <img src="images/about-img.svg" class="img-fluid" alt="about" />
            </div>
        </div>

    </div>
</section>
</body>
</html>
