<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container booking-area" th:fragment="booking-area">
    <form th:action=@{/search-result} class="row">
        <div class="col-lg mb-3 mb-lg-0">
            <input type="date" name="checkInTime" class="form-control" placeholder="date" />
        </div>
        <div class="col-lg mb-3 mb-lg-0">
            <input type="date" name="checkOutTime" class="form-control" placeholder="date" />
        </div>
        <div class="col-lg mb-3 mb-lg-0">
            <select name="adultCount" class="form-select">
                <option value="" selected>Adults</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="col-lg mb-3 mb-lg-0">
            <select name="childCount" class="form-select">
                <option value="" selected>Childern</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="col-lg mb-3 mb-lg-0">
            <button type="submit" class="main-btn rounded-2 px-lg-3">
                Check Availibility
            </button>
        </div>
    </form>
</div>

</body>
</html>
