<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rooms</title>
</head>
<body>
<section id="checkout" th:fragment="checkout">
    <div class="container p-3">
        <div class="card">
            <div class="row">
                <div class="col-md-6 p-4">
                    <h3>Billing Details</h3>
                    <form th:action=@{|/success/${typeId}|}>
                        <div class="mb-3 d-flex justify-content-between gap-3">
                            <input type="hidden" name="checkIn" th:value="${param.checkIn}">
                            <input type="hidden" name="checkOut" th:value="${param.checkOut}">
                            <input type="hidden" name="adultCount" th:value="${param.adultCount}">
                            <input type="hidden" name="childCount" th:value="${param.childCount}">
                            <input
                                    type="text"
                                    class="form-control py-2"
                                    name="firstName"
                                    placeholder="First Name"
                                    required
                            />
                            <input
                                    type="text"
                                    class="form-control py-2"
                                    name="lastName"
                                    placeholder="Last Name"
                                    required
                            />
                        </div>
                        <div class="mb-3">
                            <input
                                    type="email"
                                    class="form-control py-2"
                                    id="exampleInputEmail1"
                                    name="email"
                                    placeholder="Email"
                                    required
                            />
                        </div>
                        <div class="mb-3">
                            <input
                                    type="text"
                                    class="form-control py-2"
                                    name="mobileNumber"
                                    placeholder="Mobile No"
                            />
                        </div>
                        <div class="mb-3 d-flex justify-content-between gap-3">
                            <input
                                    type="text"
                                    name="state"
                                    class="form-control py-2"
                                    placeholder="State"
                            />
                            <input
                                    type="text"
                                    name="city"
                                    class="form-control py-2"
                                    placeholder="City"
                            />
                            <input
                                    type="text"
                                    name="pincode"
                                    class="form-control py-2"
                                    placeholder="Pincode"
                            />
                        </div>

                        <div class="mb-3 d-flex gap-5">
                            <label class="fw-4 fs-5">Select Payment Method</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" value="cash">
                                <label class="form-check-label"  >
                                    Cash
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" value="upi" >
                                <label class="form-check-label" >
                                    Upi
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 col-12 col-sm-12 p-3 bg-light">
                    <h3>Your Booking</h3>
                    <div class="room-details d-flex justify-content-between">
                        <div class="left-part col-12 col-sm-12">
                            <div class="d-flex justify-content-between border-4 border-bottom mb-3 pb-2">
                                <h5 class="col-md-8">Product</h5>
                                <h5 class="col-md-4">Subtotal</h5>
                            </div>
                            <div class="d-flex justify-content-between border-2 border-bottom mb-3">
                                <div class="col-md-8">
                                    <p style="font-size: 20px; font-weight: 500;" th:text="${roomType.type}"></p>
                                    <p><span>Date:</span>[[${reserve.getCheckInTime()}]] - [[${reserve.getCheckOutTime()}]]</p>
                                    <p><span>Details:</span> Adults:[[${reserve.getAdultCount()}]], Children:[[${reserve.getChildCount()}]]</p>
                                </div>
                                <div class="col-md-4" style="margin-top: auto; margin-bottom: auto;">
                                    <span style="font-size: 18px; font-weight: 500;">₹ [[${roomType.getPricePerNight()}]]</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-2 border-bottom mb-3">
                                <div class="col-md-8">
                                    <p class="title">GST</p>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-size: 18px; font-weight: 500;">₹ [[${gst}]]</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="col-md-8">
                                    <p class="title">Total</p>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-size: 18px; font-weight: 500;">₹ [[${total}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
