<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myRooms</title>
</head>
<body>
<!--<section id="my-rooms" th:fragment="rooms">-->
<!--    <h2 class="text-center">This is Room Section</h2>-->
<!--</section>-->
<section id="my-rooms" th:fragment="rooms">
    <div class=" container-fluid">
        <div class="row">
            <div class="card col-lg-4 col-md-6 mb-3 col-sm-12">
                <img src="/images/room/room2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Single Room</h5>
                    <p class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between">
                        <div><a href="#" class="btn btn-primary">Book Now</a></div>
                        <div class="fs-4 price">
                            <span class="fs-3 me-1">₹</span>2000 /Night
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 mb-3 col-sm-12">
                <img src="/images/room/room1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Twin Room</h5>
                    <p class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between">
                        <div><a href="#" class="btn btn-primary">Book Now</a></div>
                        <div class="fs-4 price">
                            <span class="fs-3 me-1">₹</span>3000 /Night
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 mb-3 col-sm-12">
                <img src="/images/room/room3.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Family Room</h5>
                    <p class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between">
                        <div><a href="#" class="btn btn-primary">Book Now</a></div>
                        <div class="fs-4 price">
                            <span class="fs-3 me-1">₹</span>4000 /Night
                        </div>
                    </div>
                </div>

</section>
</body>
</html>
