<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rooms</title>
</head>
<body>
<section id="rooms" class="rooms_wrapper" th:fragment="rooms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>What I can do for you</h6>
                <h3>Our Favorite Rooms</h3>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="images/room/room1.webp" class="img-fluid" alt="" />
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline">
                                Royal Suit
                            </h5>
                            <p class="text-white">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Atque, eos?
                            </p>
                            <p class="text-white fw-bold mg-lg-4">$220 / per night</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5"
                            >Book Now</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="images/room/room2.webp" class="img-fluid" alt="" />
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline">
                                Royal Suit
                            </h5>
                            <p class="text-white">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Atque, eos?
                            </p>
                            <p class="text-white fw-bold mg-lg-4">$220 / per night</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5"
                            >Book Now</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="images/room/room3.webp" class="img-fluid" alt="" />
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline">
                                Royal Suit
                            </h5>
                            <p class="text-white">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Atque, eos?
                            </p>
                            <p class="text-white fw-bold mg-lg-4">$220 / per night</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5"
                            >Book Now</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
