<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
<body>
<section id="services" class="services_wrapper" th:fragment="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>We are here fore you</h6>
                <h3>Our Awesome Services</h3>
            </div>
        </div>

        <div class="row align-items-center service-item-wrap">
            <div class="col-lg-7 p-lg-0">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="spa" role="tabpanel">
                        <img src="/images/services/service1.webp" alt="" />
                    </div>
                    <div class="tab-pane fade" id="restaurent" role="tabpanel">
                        <img src="/images/services/service2.webp" alt="" />
                    </div>
                    <div class="tab-pane fade" id="swimming" role="tabpanel">
                        <img src="/images/services/service3.webp" alt="" />
                    </div>
                    <div class="tab-pane fade" id="conference" role="tabpanel">
                        <img src="/images/services/service6.webp" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-5 position-relative">
                <div class="service-menu-area">
                    <ul class="nav">
                        <li>
                            <a href="#spa" data-bs-toggle="tab" class="active">
                    <span class="service-icon">
                      <img src="/images/services/service-icon1.webp" alt="" />
                    </span>
                                <h5>Spa, beauty & health</h5>
                                <p>
                                    <span>Spa & Beauty</span> Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#restaurent" data-bs-toggle="tab" class="">
                    <span class="service-icon">
                      <img src="/images/services/service-icon2.webp" alt="" />
                    </span>
                                <h5>Restaurent</h5>
                                <p>
                                    <span>Restaurent</span> Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#swimming" data-bs-toggle="tab" class="">
                    <span class="service-icon">
                      <img src="/images/services/service-icon3.webp" alt="" />
                    </span>
                                <h5>Swimming Pool</h5>
                                <p>
                                    <span>Swimming</span> Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#conference" data-bs-toggle="tab" class="">
                    <span class="service-icon">
                      <img src="/images/services/service-icon4.webp" alt="" />
                    </span>
                                <h5>Conference</h5>
                                <p>
                                    <span>Spa & Beauty</span> Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>
    <div class="counter mt-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h1><span id="count1"></span>+</h1>
                    <p>Happy Clients</p>
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h1><span id="count2"></span>+</h1>
                    <p>New FriendShip</p>
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h1><span id="count3"></span>+</h1>
                    <p>Five Star Ratings</p>
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h1><span id="count4"></span>+</h1>
                    <p>Served Breakfast</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
